/* nothing here yet */

#head {
  margin-bottom: 0px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 13px;
}

.credit {
  display: none;
}

.views-row {
  margin-bottom: 20px;
}

.views-field-type {
  font-style: italic;
}
