/* kill breadcrumb to avoid link back to home */

.breadcrumb {
  display: none;
}

#header {
	background: #fff none repeat scroll 0 0;
}

#logo {
	display: block;
	text-align: center;
	float: none;
}
