@import "sassy-buttons";

//   Sassy Button defaults
//   These are the base defaults for the buttons, if you are going to use similar buttons on an entire site,
//   overriding these can save you some time by calling the sassy button mixin with less arguments.

$sb-base-color: rgba(11, 153, 194, 1);
$sb-second-color: false;
$sb-border-radius: 5px;
$sb-padding: 0.2em 1.2em 0.3em 1.2em;
$sb-font-size: 100px;
$sb-text-color: white;
$sb-text-style: "inset";
$sb-gradient-style: "simple";
$sb-pseudo-states: true;
$sb-ie-support: true;

//  Mixin that gets included when calling the sassy-button-structure if you need any
//  styles applied to all your sassy buttons, add it here.

@mixin sassy-button-default-structure {
  display: inline-block;
  cursor: pointer;
}

//  *    Mixin reference
//  *   -----------------------------------------
//  *   @include sassy-button(gradient-style, border-radius, font-size, first-color, second-color, text-color, text-style, auto-states, ie-support);
//  *   @include sassy-button-structure(-border-radius, font-size, padding);
//  *   @include sassy-button-gradient(gradient-style, first-color, second-color, text-color, text-style, auto-states, ie-support);
