/***********
~VARIABLES
***********/

$yellow: #fff8b0;
$yellower: #fff164;
$red: #8d1700;
$brown: #4C1B01;
$browner: #454147;
$grey: #CFCFCF;
$greyer: #606060;
$green: #004d61;
$blue: #61AEE2;
$dark: #555555;
$whitey: #f9f9f9;
$black: #000;
$vertical-gutter: 10px 0;
$sb-padding: 0.2em 1.1em 0.3em 1.2em;  // Button padding


/***********
~BREAKPOINTS
***********/
// create $breakpoint variables like so
// assume min-width (by default) if only a number

$breakpoint-small-width: max-width 400px;
$breakpoint-med-small-width: max-width 650px;
$breakpoint-medium-width: max-width 800px;
$breakpoint-large-width: max-width 1000px;
$breakpoint-full-width: max-width 1200px;
