/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */

/***********
~IMPORTS
***********/
@import "base";
@import "compass/css3/border-radius";


/***********
~GENERIC
***********/
body {
  color: $black;
  @include m-links;
}
html, body, button, input, select, textarea {
  @include bearfont-main;
}
h1, h2, h3, h4, h5 {
  @include bearfont-titles;
  font-weight: 400;
}
#main {

  clear: both;
}
#page {
  min-width: 300px;
}
#navigation {
  width: 100%;
  padding: 0;
      #bear-user-menu {
      float: right;
      margin: 0;
      @include breakpoint ($breakpoint-medium-width) {
        float: none;
        text-align: center;
        margin: 0;
      }
      ul {
        margin: 20px 0 0 0;
        padding: 0;
        li {
          display: inline;
          list-style-type: none;
          margin: 0 0 0 10px;
          a {
            @include sassy-button("matte", 2px, 90%, #777, #666, #fff, "inset");
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
}
@include breakpoint ($breakpoint-small-width) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
    a {
      width: 88%;
    }
  }
}
/***********
~STRUCTURE
***********/

h1 {
  font-size: 160%;
}
.wrapper {
  &.header {
    background-color: white;
  }
  &.footer {
    background-color: $green;
    #block-system-powered-by{
    	color: white;
    }
  }
}
.breadcrumb {
  margin: 5px 0;
  
}
/***********
~HEADER
***********/
.region-header {
  clear: none;
}
.wrapper.header {
  #header {
    padding: 25px 0;
    position: relative;
  }
}
h1#site-name {
 font-size: 2em;
 line-height: .5em;
 margin: 0 25px;
  a:link, a:visited {
      color: #ffffff;
  }
}
#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 0;
  @include breakpoint ($breakpoint-medium-width) {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  input.form-text {
    border: none;
    border-right: 1px solid #CCCCCC;

    width: 150px;
    &:focus {
      box-shadow: none;
      moz-box-shadow: none;
    }
  }
  input.form-submit {
    text-indent: -9999px;
    background: #FFFFFF url(../images/search.png) no-repeat center center;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
    padding: 5px 15px;
    width: 40px;
    height: 28px;
    text-shadow: none;
    margin: 0;
  }
}

.wrapper.header #header {
  transition: text-align 0.25s ease;
}

@include breakpoint ($breakpoint-small-width) {
  .wrapper.header #header {
    text-align: center;
    padding: 10px 15%;
    #logo {
      float: none;
      clear: both;
      display: block;
      padding: 20px 0;
    }
    #name-and-slogan {
      float: none;
    }
  }
}

/***********
~SIDEBARS
***********/

aside.sidebars {
  .sidebar {
    padding: 5px 0 20px 0;
    h2 {
      background: $grey;
      text-indent: 10px;
      margin: 0 0 10px 0;
      font-size: 110%;
      }
    @include breakpoint ($breakpoint-large-width) {
      padding-left: auto;
    }
  }
}

/***********
~SLIDESHOW
***********/

.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius:0;
  border: 5px solid #FFFFFF;
  margin: 30px 0;
  position: relative;
}
.flexslider li p {
  text-align: center;
  font-size: 110%;
  background: #f5f5f5;
  margin: 0;
  padding: 10px 0;
  font-size: 90%;
  @include bearfont-titles;
}

/***********
~FOOTER
***********/

.wrapper.footer {
  #footer {
    margin-left: auto;
    margin-right: auto;
    color: $dark;
    font-size:12px;
    @include breakpoint ($breakpoint-full-width) {
      padding-left: 0 20px;
      padding-right: 0 20px;
    }
  }
}
@include breakpoint ($breakpoint-medium-width) {
  #footer {
    text-align: center;
  }
  ul.social-footer {
    margin-top: -10px;
    li {
     display: inline-block;
     float: none;
    }
  }
}

/* BEARSKIN site Documentation page fun */

#documentation {
  p.tb {
    @include col(1/4, $cycle: 4, $gutter: 1);
    //@include box-sizing(border-box);
    @include box-sizing(border-box);
    background: #DDDDDD;
    padding: 20px;
  }
}
