/**
 * @file
 * Block Styling
 */

@import "base";

#block-block-1 {
  padding: 20px 0;
  h2 {
  	background-color: transparent !important;
  }
}

section {
	h2 {
		background-color: white !important;
	}
}
.pane-menu-block-2 {
	.menu-block-wrapper {
		.menu {
			@include breakpoint($breakpoint-small-width) {
				display: none;
			}
			.menu__item {
				font-family: $rockwell;
				font-size: 1.5em;
				font-weight: 400;
				line-height: 1.5em;
				a {
					color: $greyer;
					transition: margin-left 300ms ease,
											color 300ms ease;
					&:hover {
						color: $yellow;
						margin-left:  25px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

#our-mission,
#this-year,
#our-history {
	font-family: $rockwell;
	font-size: 2.5em;
}

/*aside {
	section {
		ul {
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
}*/