/**
 *
 * Non panel layouts (one sidebar, two sidebars, none)
 *
 */

@import "base";

$site-max-width: 100%;

#page {
  width: 100%;
  * {
    @include box-sizing(border-box);
  }
  .wrapper {
    @include breakpoint ($breakpoint-full-width) {
      // padding: 0 20px;
    }
  }
}

#header,
#content,
#navigation,
#highlighted,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  max-width: $site-max-width;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#header,
#main,
#footer {
  width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
#main {
  max-width: $site-max-width;
  @include center(95%);
  padding: 20px 0 0 0;
}
#footer {
	@include center(95%);
}

/* LEFT SIDEBAR */

.sidebar-first {
  #content {
    @include col(3/4);
    @include shift(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-3/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

/* RIGHT SIDEBAR */

.sidebar-second {
  #content {
    @include col(3/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}

/* TWO SIDEBARS */

.two-sidebars {
  #content {
    @include col(2/4);
    @include shift(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-first {
    @include col(1/4);
    @include shift(-2/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
  .region-sidebar-second {
    @include col(1/4);
    @include breakpoint ($breakpoint-medium-width) {
      @include col();
      @include unshift();
    }
  }
}
