/**
 * @file
 * Basic
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
  h2 {
    font-family: $rockwell;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
	// background:#FFC966,
  background: #ca2242;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  text-align: center;
  float: left;
}

#site-name { /* The name of the website */
	 border: 5px solid white;
	 font-family: $futura;
	 font-weight: 700;
	 padding: 10px;
   margin: 0; 
	 word-spacing: 0.25em;
   #logotype {/*This selector and the nested one control the hard-coded logo*/
      font-size: 1em;
      line-height: 1em;
      #toptype {
        font-size: 1.5em;
        letter-spacing: 0.05em;
      }
     }
	  a:link,
	  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  font-family: $futura;
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Front Page Styles
 */

.front-header {
    background: url(../images/Detroit-MarchOR.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: background 0.25s ease;
  @include breakpoint($breakpoint-small-width) {
    	background-position: top;
    	background-size: 150%;
    }
  }

#front-header {
  @include center(65%);
  text-align: center;
  padding: 200px 0 100px 0;
  position: relative;
  transition: width 0.25s ease,
              padding 0.25s ease;
    @include breakpoint($breakpoint-med-small-width) {
      @include center(85%);
      padding: 150px 0 50px 0;
      @include breakpoint($breakpoint-small-width) {
        @include center(90%);
        padding: 50px 0 25px 0;
     }
  }
}

#front-logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#front-name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#front-site-name { /* The name of the website */
 border-top: 5px solid white;
 border-bottom: 5px solid white;
 font-family: $futura; 
 font-variant: small-caps;
 font-size: 5em;
 line-height: 1em;
 padding:0;
 margin: 0 auto;
 word-spacing: 0.25em;
  a:link,
  a:visited {
      text-decoration: none;
      color: #ffffff;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
  transition: font-size 0.25s ease;
  @include breakpoint($breakpoint-med-small-width) {
     font-size: 2.5em;
     @include breakpoint($breakpoint-small-width) {
        font-size: 1.5em;
     }
  }
}

#front-site-slogan { /* The slogan (or tagline) of a website */
  font-family: $futura;
  font-style: italic;
  font-size: 3em;
  color: $whitey;
  padding: 10px 0 0 0;
  transition: font-size 0.25s ease,
  						padding 0.25s ease;
  @include breakpoint($breakpoint-med-small-width) {
     font-size: 1em;
     padding: 0;
  }
}


.down-arrow {
  stroke: $whitey;
  stroke-width: 3;
  stroke-miterlimit:  10;
  fill: none;
}



/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
	padding: 25px 0;
  i {
  	color: white;
  	padding: 25px 0;
    font-size: 4em;
  }
  	@include breakpoint($breakpoint-small-width){
		text-align: center;
	}
}


.footer-links-wrapper {
  h3 {
    font-family: $rockwell;
    font-size: 16px;
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }
	@include breakpoint($breakpoint-small-width){
		text-align: center;
	}
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

