/**
 * @file
 * Panels Styling
 * Will handle panel pages, panelizer etc
 * Do not put views code in here, unless they need to be overridden specifically as views-panes
 *
 */

@import "base";

/***
Theming for the panels layouts included in our theme at layouts/
***/

.three-columns-top-and-bottom-rows {
  div {
    @include box-sizing(border-box);
  }
  .column.left {
    @include col(1/5, $gutter:0);
    @include shift(-3/5, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(2/7, $gutter:0);
      @include shift(-3/7, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/3, $gutter:0);
      @include shift(-2/3, $gutter:0);
    }
    @include breakpoint($breakpoint-med-small-width) {
      @include unshift();
      @include stack();
      .col-inside {
        margin: 0;
      }
    }
  }
  .column.center {
    @include col(3/5, $gutter:0);
    @include shift(1/5, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(3/7, $gutter:0);
      @include shift(2/7, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include col(2/3, $gutter:0);
      @include shift(1/3, $gutter:0);
    }
    @include breakpoint($breakpoint-med-small-width) {
      @include unshift();
      @include stack();
    }
  }
  .column.right {
    @include col(1/5, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(2/7, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include stack();
      .col-inside {
        margin: 0;
      }
    }
  }
}

.sidebar-left-top-and-bottom-rows {
  .column.left {
    @include col(1/5, $gutter:0);
    @include shift(-4/5, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(2/7, $gutter:0);
      @include shift(-5/7, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include col(1/3, $gutter:0);
      @include shift(-2/3, $gutter:0);
    }
    @include breakpoint($breakpoint-med-small-width) {
      @include unshift();
      @include stack();
      .col-inside {
        margin: 0;
      }
    }
  }
  .column.center {
    @include col(4/5, $gutter:0);
    @include shift(1/5, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(5/7, $gutter:0);
      @include shift(2/7, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include col(2/3, $gutter:0);
      @include shift(1/3, $gutter:0);
    }
    @include breakpoint($breakpoint-med-small-width) {
      @include unshift();
      @include stack();
    }
    .content-body {
      @include col(1/2, $gutter:0);
      padding: 0 20px;
      @include breakpoint($breakpoint-small-width) {
        @include unshift();
        @include stack();
      }
    }
  }
}

.sidebar-right-top-and-bottom-rows {
  .column.right {
    @include col(1/4, $gutter:0);
    @include shift(3/4, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(1/3, $gutter:0);
      @include shift(2/3, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include unshift();
      @include stack();
      .col-inside {
        margin: 0;
      }
    }
  }
  .column.center {
    @include col(3/4, $gutter:0);
    @include shift(-1/4, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(2/3, $gutter:0);
      @include shift(-1/3, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include unshift();
      @include stack();
    }
    .content-body {
      @include col(1/2, $gutter:0);
      padding: 0 20px;
      @include breakpoint($breakpoint-small-width) {
        @include unshift();
        @include stack();
      }
    }
  }
}

.sidebar-right-cleared-top-and-bottom-rows {
  .column.right {
    @include col(1/4, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(1/3, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include unshift();
      @include stack();
      .col-inside {
        margin: 0;
      }
    }
  }
  .column.center {
    @include col(3/4, $gutter:0);
    @include breakpoint($breakpoint-large-width) {
      @include col(2/3, $gutter:0);
    }
    @include breakpoint($breakpoint-medium-width) {
      @include unshift();
      @include stack();
    }
    .content-body {
      @include col(1/2, $gutter:0);
      padding: 0 20px;
      @include breakpoint($breakpoint-small-width) {
        @include unshift();
        @include stack();
      }
    }
  }
}

.two-columns-top-and-bottom-rows {
  .column {
    &.left {
      @include col(1/2, $gutter:0);
    }
    &.right {
      @include col(1/2, $gutter:0);
    }
    &.left, &.right {
      @include breakpoint($breakpoint-med-small-width) {
        @include stack();
        .col-inside {
          margin: 0;
        }
      }
    }
  }
}

.fc-button-content {	
	@include breakpoint($breakpoint-medium-width) {
		font-size: 75%;
	}
	@include breakpoint($breakpoint-small-width) {
		font-size: 45%;
	}
}

.fc-header-title {
	h2 {
		@include breakpoint($breakpoint-medium-width) {
			font-size: 85%;
		}
		@include breakpoint($breakpoint-small-width) {
			font-size: 75%;
		}
	}
}

.fc-view {
	height: 100%;
	width: auto;
}

.fc-event-inner {
	@include breakpoint($breakpoint-medium-width) {
		font-size: 85%;
		line-height: 100%;
	}
	@include breakpoint($breakpoint-small-width) {
		font-size: 50%;
		line-height: 150%;
	}
}
