/**
 * @file
 * Views Styling
 */

@import "base";

.views-field-field-question {
	position:relative;
	background-color: $green;
	color: $whitey;
	padding: 0 20px;
	&:after {
		border-top:20px solid $green;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    width:0;
    height:0;

    content:"";
    display:block;
    position:absolute;
    top:100%;
    left:1em;
	}
	@include breakpoint($breakpoint-small-width){
		line-height: 0.5em;
	}
}


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}
