/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */
/***********
~IMPORTS
***********/
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/***********
~GENERIC
***********/
body {
  color: black;
}
body a {
  color: #61aee2;
  text-decoration: none;
}
body a:hover {
  color: #443C45;
  text-decoration: underline;
}
body a:visited {
  color: #61aee2;
}

html, body, button, input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, Times, sans-serif;
  font-weight: 400;
}

#main {
  clear: both;
}

#page {
  min-width: 300px;
}

#navigation {
  width: 100%;
  padding: 0;
}
#navigation #bear-user-menu {
  float: right;
  margin: 0;
}
@media (max-width: 800px) {
  #navigation #bear-user-menu {
    float: none;
    text-align: center;
    margin: 0;
  }
}
#navigation #bear-user-menu ul {
  margin: 20px 0 0 0;
  padding: 0;
}
#navigation #bear-user-menu ul li {
  display: inline;
  list-style-type: none;
  margin: 0 0 0 10px;
}
#navigation #bear-user-menu ul li a {
  font-size: 90%;
  padding: 0.2em 1.1em 0.3em 1.2em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF777777', endColorstr='#FF444444');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(70%, #666666));
  background: -webkit-linear-gradient(#777777, #666666 70%);
  background: -moz-linear-gradient(#777777, #666666 70%);
  background: -o-linear-gradient(#777777, #666666 70%);
  background: linear-gradient(#777777, #666666 70%);
  -webkit-box-shadow: #9d9d9d 0 1px 0 inset;
  -moz-box-shadow: #9d9d9d 0 1px 0 inset;
  box-shadow: #9d9d9d 0 1px 0 inset;
  border: 1px solid #595959;
  color: white;
  text-shadow: #363636 0 -1px 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#navigation #bear-user-menu ul li a:hover {
  text-decoration: none;
}
#navigation #bear-user-menu ul li a:hover {
  background-color: #595959;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #6a6a6a), color-stop(75%, #595959));
  background: -webkit-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: -moz-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: -o-linear-gradient(#6a6a6a 3%, #595959 75%);
  background: linear-gradient(#6a6a6a 3%, #595959 75%);
}
#navigation #bear-user-menu ul li a:active {
  -webkit-box-shadow: #525252 0 1px 2px inset;
  -moz-box-shadow: #525252 0 1px 2px inset;
  box-shadow: #525252 0 1px 2px inset;
}
#navigation #bear-user-menu ul li a.disabled, #navigation #bear-user-menu ul li a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #666666;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#navigation #bear-user-menu ul li a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

@media (max-width: 400px) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
  }
  ul.primary li a, ul.secondary li a {
    width: 88%;
  }
}
/***********
~STRUCTURE
***********/
h1 {
  font-size: 160%;
}

.wrapper.header {
  background-color: white;
}
.wrapper.footer {
  background-color: #004d61;
}
.wrapper.footer #block-system-powered-by {
  color: white;
}

.breadcrumb {
  margin: 5px 0;
}

/***********
~HEADER
***********/
.region-header {
  clear: none;
}

.wrapper.header #header {
  padding: 25px 0;
  position: relative;
}

h1#site-name {
  font-size: 2em;
  line-height: .5em;
  margin: 0 25px;
}
h1#site-name a:link, h1#site-name a:visited {
  color: #ffffff;
}

#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 0;
}
@media (max-width: 800px) {
  #block-search-form {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
}
#block-search-form input.form-text {
  border: none;
  border-right: 1px solid #CCCCCC;
  width: 150px;
}
#block-search-form input.form-text:focus {
  box-shadow: none;
  moz-box-shadow: none;
}
#block-search-form input.form-submit {
  text-indent: -9999px;
  background: white url(../images/search.png) no-repeat center center;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  filter: none;
  padding: 5px 15px;
  width: 40px;
  height: 28px;
  text-shadow: none;
  margin: 0;
}

.wrapper.header #header {
  transition: text-align 0.25s ease;
}

@media (max-width: 400px) {
  .wrapper.header #header {
    text-align: center;
    padding: 10px 15%;
  }
  .wrapper.header #header #logo {
    float: none;
    clear: both;
    display: block;
    padding: 20px 0;
  }
  .wrapper.header #header #name-and-slogan {
    float: none;
  }
}
/***********
~SIDEBARS
***********/
aside.sidebars .sidebar {
  padding: 5px 0 20px 0;
}
aside.sidebars .sidebar h2 {
  background: #cfcfcf;
  text-indent: 10px;
  margin: 0 0 10px 0;
  font-size: 110%;
}
@media (max-width: 1000px) {
  aside.sidebars .sidebar {
    padding-left: auto;
  }
}

/***********
~SLIDESHOW
***********/
.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius: 0;
  border: 5px solid #FFFFFF;
  margin: 30px 0;
  position: relative;
}

.flexslider li p {
  text-align: center;
  font-size: 110%;
  background: #f5f5f5;
  margin: 0;
  padding: 10px 0;
  font-size: 90%;
  font-family: Georgia, Times, sans-serif;
}

/***********
~FOOTER
***********/
.wrapper.footer #footer {
  margin-left: auto;
  margin-right: auto;
  color: #555555;
  font-size: 12px;
}
@media (max-width: 1200px) {
  .wrapper.footer #footer {
    padding-left: 0 20px;
    padding-right: 0 20px;
  }
}

@media (max-width: 800px) {
  #footer {
    text-align: center;
  }

  ul.social-footer {
    margin-top: -10px;
  }
  ul.social-footer li {
    display: inline-block;
    float: none;
  }
}
/* BEARSKIN site Documentation page fun */
#documentation p.tb {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 24.25%;
  margin-left: 0%;
  margin-right: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #DDDDDD;
  padding: 20px;
}
#documentation p.tb:before, #documentation p.tb:after {
  content: '';
  display: table;
}
#documentation p.tb:after {
  clear: both;
}
#documentation p.tb:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
#documentation p.tb:nth-child(4n + 1) {
  clear: both;
}
