/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
#navigation .block-menu:after, #navigation .menu-block-wrapper > ul:after {
  content: "";
  display: table;
  clear: both;
}

body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}

#navigation .block-menu, #navigation .menu-block-wrapper {
  font: 13px Rockwell, Superclarendon, Georgia, Times, "Times New Roman", serif;
}
#navigation .block-menu *, #navigation .menu-block-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation .block-menu ul, #navigation .menu-block-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#navigation .block-menu li, #navigation .menu-block-wrapper li {
  position: relative;
}
#navigation .block-menu li:hover, #navigation .menu-block-wrapper li:hover {
  border-right-color: #cfcfcf;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}
#navigation .block-menu li:hover > ul, #navigation .menu-block-wrapper li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}
#navigation .block-menu li:hover > a, #navigation .menu-block-wrapper li:hover > a {
  color: white;
  background: #cfcfcf;
}
#navigation .block-menu input[type=checkbox], #navigation .menu-block-wrapper input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#navigation .block-menu label, #navigation .menu-block-wrapper label {
  display: none;
  cursor: pointer;
  user-select: none;
}

#navigation .block-menu, #navigation .menu-block-wrapper > ul {
  background-color: #cfcfcf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  position: relative;
  text-align: left;
}
#navigation .block-menu > li, #navigation .menu-block-wrapper > ul > li {
  float: left;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 14.28571%;
  margin-left: 0%;
  margin-right: 0%;
}
#navigation .block-menu > li:before, #navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:before, #navigation .menu-block-wrapper > ul > li:after {
  content: '';
  display: table;
}
#navigation .block-menu > li:after, #navigation .menu-block-wrapper > ul > li:after {
  clear: both;
}
#navigation .block-menu > li > a, #navigation .menu-block-wrapper > ul > li > a {
  float: left;
  padding: 1em 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
#navigation .block-menu > li > a.active, #navigation .menu-block-wrapper > ul > li > a.active {
  color: #fff164;
  background-color: #606060;
}
#navigation .block-menu a, #navigation .menu-block-wrapper > ul a {
  color: #606060;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
#navigation .block-menu a:hover, #navigation .menu-block-wrapper > ul a:hover {
  color: #fff164;
  background-color: #606060;
}
#navigation .block-menu ul, #navigation .menu-block-wrapper > ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  margin: 2em 0 0 0;
  background-color: whitesmoke;
  background-image: none;
  -webkit-transition-property: margin, opacity;
  -moz-transition-property: margin, opacity;
  -o-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -o-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#navigation .block-menu ul li, #navigation .menu-block-wrapper > ul ul li {
  display: block;
  -webkit-box-shadow: 0 1px 0 gainsboro, 0 2px 0 white;
  -moz-box-shadow: 0 1px 0 gainsboro, 0 2px 0 white;
  box-shadow: 0 1px 0 gainsboro, 0 2px 0 white;
}
#navigation .block-menu ul li:first-child > a:after, #navigation .menu-block-wrapper > ul ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 4em;
  top: -12px;
  border: 6px solid transparent;
  border-bottom-color: inherit;
}
#navigation .block-menu ul li:last-child, #navigation .menu-block-wrapper > ul ul li:last-child {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#navigation .block-menu ul a, #navigation .menu-block-wrapper > ul ul a {
  padding: 1em;
  width: 250px;
  display: block;
  border-color: whitesmoke;
}
#navigation .block-menu ul a:hover, #navigation .menu-block-wrapper > ul ul a:hover {
  background-color: #606060;
  border-color: #606060;
}

@media screen and (max-width: 800px) {
  #navigation .block-menu > ul, #navigation .menu-block-wrapper > ul, #navigation .block-menu > ul ul, #navigation .menu-block-wrapper > ul ul {
    visibility: visible;
    opacity: 1;
    display: none;
  }

  #navigation .block-menu input[type=checkbox]:checked ~ label,
  #navigation .block-menu input[type=checkbox] ~ label:hover, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ label,
  #navigation .menu-block-wrapper input[type=checkbox] ~ label:hover {
    color: white;
  }
  #navigation .block-menu label, #navigation .menu-block-wrapper label {
    border: 1px solid #c2c2c2;
    background-color: #cfcfcf;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #606060;
    text-shadow: 0 1px 0 #cfcfcf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 1em 3em;
  }
  #navigation .block-menu label:before, #navigation .menu-block-wrapper label:before {
    position: absolute;
    left: 0.5em;
    top: 0.2em;
    content: "\2261";
    font-size: 2em;
  }
  #navigation .block-menu > ul, #navigation .menu-block-wrapper > ul {
    position: relative;
    border-color: #cfcfcf;
    margin: 0.5em 0 !important;
    padding: 0.25em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #cfcfcf;
    background-image: none;
  }
  #navigation .block-menu > ul:after, #navigation .menu-block-wrapper > ul:after {
    content: '';
    position: absolute;
    left: 2em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: inherit;
  }
  #navigation .block-menu > ul li, #navigation .menu-block-wrapper > ul li {
    display: block;
    clear: both;
    width: 100%;
    text-align: left;
  }
  #navigation .block-menu > ul li.expanded.active, #navigation .menu-block-wrapper > ul li.expanded.active {
    background: #666;
    float: left;
    width: 100%;
  }
  #navigation .block-menu > ul li li, #navigation .menu-block-wrapper > ul li li {
    clear: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navigation .block-menu > ul li li:hover, #navigation .menu-block-wrapper > ul li li:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #navigation .block-menu > ul li li a, #navigation .menu-block-wrapper > ul li li a {
    color: #CCC;
  }
  #navigation .block-menu > ul li li a:hover, #navigation .menu-block-wrapper > ul li li a:hover {
    background: transparent;
    color: white;
  }
  #navigation .block-menu > ul > li, #navigation .menu-block-wrapper > ul > li {
    float: none;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #cfcfcf;
    background-image: none;
  }
  #navigation .block-menu > ul > li > a, #navigation .menu-block-wrapper > ul > li > a {
    float: none;
    display: block;
    padding: 1em;
  }
  #navigation .block-menu > ul ul, #navigation .menu-block-wrapper > ul ul {
    position: static;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background-color: #e9e9e9;
    background-image: none;
    margin: 0;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
  #navigation .block-menu > ul ul li:first-child > a, #navigation .menu-block-wrapper > ul ul li:first-child > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #navigation .block-menu > ul ul li:first-child > a:after, #navigation .menu-block-wrapper > ul ul li:first-child > a:after {
    content: none;
  }
  #navigation .block-menu > ul ul li:last-child > a, #navigation .menu-block-wrapper > ul ul li:last-child > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #navigation .block-menu > ul ul a, #navigation .menu-block-wrapper > ul ul a {
    padding-left: 2em;
    display: block;
    width: auto;
  }
  #navigation .block-menu input[type=checkbox]:checked ~ ul, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ ul {
    display: block;
  }
  #navigation .block-menu input[type=checkbox]:checked ~ ul ul, #navigation .menu-block-wrapper input[type=checkbox]:checked ~ ul ul {
    display: block;
  }
}
