/**
 * @file
 * Block Styling
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
#block-block-1 {
  padding: 20px 0;
}
#block-block-1 h2 {
  background-color: transparent !important;
}

section h2 {
  background-color: white !important;
}

@media (max-width: 400px) {
  .pane-menu-block-2 .menu-block-wrapper .menu {
    display: none;
  }
}
.pane-menu-block-2 .menu-block-wrapper .menu .menu__item {
  font-family: Rockwell, Superclarendon, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
}
.pane-menu-block-2 .menu-block-wrapper .menu .menu__item a {
  color: #606060;
  transition: margin-left 300ms ease, color 300ms ease;
}
.pane-menu-block-2 .menu-block-wrapper .menu .menu__item a:hover {
  color: #fff8b0;
  margin-left: 25px;
  text-decoration: none;
}

#our-mission,
#this-year,
#our-history {
  font-family: Rockwell, Superclarendon, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5em;
}

/*aside {
	section {
		ul {
			padding: 0;
			li {
				list-style-type: none;
			}
		}
	}
}*/
