/**
 * @file
 * Basic
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page h2 {
  font-family: Rockwell, Superclarendon, Georgia, Times, "Times New Roman", serif;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
  background: #ca2242;
}

#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  text-align: center;
  float: left;
}

#site-name {
  /* The name of the website */
  border: 5px solid white;
  font-family: Futura, "Futura Medium", "Trebuchet MS", Arial, sans-serif;
  font-weight: 700;
  padding: 10px;
  margin: 0;
  word-spacing: 0.25em;
}
#site-name #logotype {
  /*This selector and the nested one control the hard-coded logo*/
  font-size: 1em;
  line-height: 1em;
}
#site-name #logotype #toptype {
  font-size: 1.5em;
  letter-spacing: 0.05em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  font-family: Futura, "Futura Medium", "Trebuchet MS", Arial, sans-serif;
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Front Page Styles
 */
.front-header {
  background: url(../images/Detroit-MarchOR.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 0.25s ease;
}
@media (max-width: 400px) {
  .front-header {
    background-position: top;
    background-size: 150%;
  }
}

#front-header {
  *zoom: 1;
  width: auto;
  max-width: 65%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  padding: 200px 0 100px 0;
  position: relative;
  transition: width 0.25s ease, padding 0.25s ease;
}
#front-header:before, #front-header:after {
  content: '';
  display: table;
}
#front-header:after {
  clear: both;
}
@media (max-width: 650px) {
  #front-header {
    *zoom: 1;
    width: auto;
    max-width: 85%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 150px 0 50px 0;
  }
  #front-header:before, #front-header:after {
    content: '';
    display: table;
  }
  #front-header:after {
    clear: both;
  }
}
@media (max-width: 650px) and (max-width: 400px) {
  #front-header {
    *zoom: 1;
    width: auto;
    max-width: 90%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 50px 0 25px 0;
  }
  #front-header:before, #front-header:after {
    content: '';
    display: table;
  }
  #front-header:after {
    clear: both;
  }
}

#front-logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
#front-logo img {
  vertical-align: bottom;
}

#front-name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#front-site-name {
  /* The name of the website */
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  font-family: Futura, "Futura Medium", "Trebuchet MS", Arial, sans-serif;
  font-variant: small-caps;
  font-size: 5em;
  line-height: 1em;
  padding: 0;
  margin: 0 auto;
  word-spacing: 0.25em;
  transition: font-size 0.25s ease;
}
#front-site-name a:link,
#front-site-name a:visited {
  text-decoration: none;
  color: #ffffff;
}
#front-site-name a:hover,
#front-site-name a:focus {
  text-decoration: none;
}
@media (max-width: 650px) {
  #front-site-name {
    font-size: 2.5em;
  }
}
@media (max-width: 650px) and (max-width: 400px) {
  #front-site-name {
    font-size: 1.5em;
  }
}

#front-site-slogan {
  /* The slogan (or tagline) of a website */
  font-family: Futura, "Futura Medium", "Trebuchet MS", Arial, sans-serif;
  font-style: italic;
  font-size: 3em;
  color: #f9f9f9;
  padding: 10px 0 0 0;
  transition: font-size 0.25s ease, padding 0.25s ease;
}
@media (max-width: 650px) {
  #front-site-slogan {
    font-size: 1em;
    padding: 0;
  }
}

.down-arrow {
  stroke: #f9f9f9;
  stroke-width: 3;
  stroke-miterlimit: 10;
  fill: none;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
#footer {
  padding: 25px 0;
}
#footer i {
  color: white;
  padding: 25px 0;
  font-size: 4em;
}
@media (max-width: 400px) {
  #footer {
    text-align: center;
  }
}

.footer-links-wrapper h3 {
  font-family: Rockwell, Superclarendon, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}
.footer-links-wrapper h3:hover {
  color: #61aee2;
  text-decoration: underline;
}
@media (max-width: 400px) {
  .footer-links-wrapper {
    text-align: center;
  }
}

/*
 * Page bottom
 */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
