/**
 * @file
 * Panels Styling
 * Will handle panel pages, panelizer etc
 * Do not put views code in here, unless they need to be overridden specifically as views-panes
 *
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/***
Theming for the panels layouts included in our theme at layouts/
***/
.three-columns-top-and-bottom-rows div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.three-columns-top-and-bottom-rows .column.left {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: -60%;
}
.three-columns-top-and-bottom-rows .column.left:before, .three-columns-top-and-bottom-rows .column.left:after {
  content: '';
  display: table;
}
.three-columns-top-and-bottom-rows .column.left:after {
  clear: both;
}
.three-columns-top-and-bottom-rows .column.left:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .three-columns-top-and-bottom-rows .column.left {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28.57143%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -42.85714%;
  }
  .three-columns-top-and-bottom-rows .column.left:before, .three-columns-top-and-bottom-rows .column.left:after {
    content: '';
    display: table;
  }
  .three-columns-top-and-bottom-rows .column.left:after {
    clear: both;
  }
  .three-columns-top-and-bottom-rows .column.left:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .three-columns-top-and-bottom-rows .column.left {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -66.66667%;
  }
  .three-columns-top-and-bottom-rows .column.left:before, .three-columns-top-and-bottom-rows .column.left:after {
    content: '';
    display: table;
  }
  .three-columns-top-and-bottom-rows .column.left:after {
    clear: both;
  }
  .three-columns-top-and-bottom-rows .column.left:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 650px) {
  .three-columns-top-and-bottom-rows .column.left {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .three-columns-top-and-bottom-rows .column.left:first-child {
    margin-left: auto;
  }
  .three-columns-top-and-bottom-rows .column.left:last-child {
    margin-right: auto;
  }
  .three-columns-top-and-bottom-rows .column.left .col-inside {
    margin: 0;
  }
}
.three-columns-top-and-bottom-rows .column.center {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 60%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: 20%;
}
.three-columns-top-and-bottom-rows .column.center:before, .three-columns-top-and-bottom-rows .column.center:after {
  content: '';
  display: table;
}
.three-columns-top-and-bottom-rows .column.center:after {
  clear: both;
}
.three-columns-top-and-bottom-rows .column.center:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .three-columns-top-and-bottom-rows .column.center {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 42.85714%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 28.57143%;
  }
  .three-columns-top-and-bottom-rows .column.center:before, .three-columns-top-and-bottom-rows .column.center:after {
    content: '';
    display: table;
  }
  .three-columns-top-and-bottom-rows .column.center:after {
    clear: both;
  }
  .three-columns-top-and-bottom-rows .column.center:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .three-columns-top-and-bottom-rows .column.center {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 33.33333%;
  }
  .three-columns-top-and-bottom-rows .column.center:before, .three-columns-top-and-bottom-rows .column.center:after {
    content: '';
    display: table;
  }
  .three-columns-top-and-bottom-rows .column.center:after {
    clear: both;
  }
  .three-columns-top-and-bottom-rows .column.center:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 650px) {
  .three-columns-top-and-bottom-rows .column.center {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .three-columns-top-and-bottom-rows .column.center:first-child {
    margin-left: auto;
  }
  .three-columns-top-and-bottom-rows .column.center:last-child {
    margin-right: auto;
  }
}
.three-columns-top-and-bottom-rows .column.right {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
}
.three-columns-top-and-bottom-rows .column.right:before, .three-columns-top-and-bottom-rows .column.right:after {
  content: '';
  display: table;
}
.three-columns-top-and-bottom-rows .column.right:after {
  clear: both;
}
.three-columns-top-and-bottom-rows .column.right:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .three-columns-top-and-bottom-rows .column.right {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28.57143%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .three-columns-top-and-bottom-rows .column.right:before, .three-columns-top-and-bottom-rows .column.right:after {
    content: '';
    display: table;
  }
  .three-columns-top-and-bottom-rows .column.right:after {
    clear: both;
  }
  .three-columns-top-and-bottom-rows .column.right:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .three-columns-top-and-bottom-rows .column.right {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .three-columns-top-and-bottom-rows .column.right:first-child {
    margin-left: auto;
  }
  .three-columns-top-and-bottom-rows .column.right:last-child {
    margin-right: auto;
  }
  .three-columns-top-and-bottom-rows .column.right .col-inside {
    margin: 0;
  }
}

.sidebar-left-top-and-bottom-rows .column.left {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: -80%;
}
.sidebar-left-top-and-bottom-rows .column.left:before, .sidebar-left-top-and-bottom-rows .column.left:after {
  content: '';
  display: table;
}
.sidebar-left-top-and-bottom-rows .column.left:after {
  clear: both;
}
.sidebar-left-top-and-bottom-rows .column.left:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .sidebar-left-top-and-bottom-rows .column.left {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 28.57143%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -71.42857%;
  }
  .sidebar-left-top-and-bottom-rows .column.left:before, .sidebar-left-top-and-bottom-rows .column.left:after {
    content: '';
    display: table;
  }
  .sidebar-left-top-and-bottom-rows .column.left:after {
    clear: both;
  }
  .sidebar-left-top-and-bottom-rows .column.left:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .sidebar-left-top-and-bottom-rows .column.left {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -66.66667%;
  }
  .sidebar-left-top-and-bottom-rows .column.left:before, .sidebar-left-top-and-bottom-rows .column.left:after {
    content: '';
    display: table;
  }
  .sidebar-left-top-and-bottom-rows .column.left:after {
    clear: both;
  }
  .sidebar-left-top-and-bottom-rows .column.left:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 650px) {
  .sidebar-left-top-and-bottom-rows .column.left {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-left-top-and-bottom-rows .column.left:first-child {
    margin-left: auto;
  }
  .sidebar-left-top-and-bottom-rows .column.left:last-child {
    margin-right: auto;
  }
  .sidebar-left-top-and-bottom-rows .column.left .col-inside {
    margin: 0;
  }
}
.sidebar-left-top-and-bottom-rows .column.center {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: 20%;
}
.sidebar-left-top-and-bottom-rows .column.center:before, .sidebar-left-top-and-bottom-rows .column.center:after {
  content: '';
  display: table;
}
.sidebar-left-top-and-bottom-rows .column.center:after {
  clear: both;
}
.sidebar-left-top-and-bottom-rows .column.center:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .sidebar-left-top-and-bottom-rows .column.center {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 71.42857%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 28.57143%;
  }
  .sidebar-left-top-and-bottom-rows .column.center:before, .sidebar-left-top-and-bottom-rows .column.center:after {
    content: '';
    display: table;
  }
  .sidebar-left-top-and-bottom-rows .column.center:after {
    clear: both;
  }
  .sidebar-left-top-and-bottom-rows .column.center:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .sidebar-left-top-and-bottom-rows .column.center {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 33.33333%;
  }
  .sidebar-left-top-and-bottom-rows .column.center:before, .sidebar-left-top-and-bottom-rows .column.center:after {
    content: '';
    display: table;
  }
  .sidebar-left-top-and-bottom-rows .column.center:after {
    clear: both;
  }
  .sidebar-left-top-and-bottom-rows .column.center:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 650px) {
  .sidebar-left-top-and-bottom-rows .column.center {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-left-top-and-bottom-rows .column.center:first-child {
    margin-left: auto;
  }
  .sidebar-left-top-and-bottom-rows .column.center:last-child {
    margin-right: auto;
  }
}
.sidebar-left-top-and-bottom-rows .column.center .content-body {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 20px;
}
.sidebar-left-top-and-bottom-rows .column.center .content-body:before, .sidebar-left-top-and-bottom-rows .column.center .content-body:after {
  content: '';
  display: table;
}
.sidebar-left-top-and-bottom-rows .column.center .content-body:after {
  clear: both;
}
.sidebar-left-top-and-bottom-rows .column.center .content-body:last-child {
  margin-right: 0%;
}
@media (max-width: 400px) {
  .sidebar-left-top-and-bottom-rows .column.center .content-body {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-left-top-and-bottom-rows .column.center .content-body:first-child {
    margin-left: auto;
  }
  .sidebar-left-top-and-bottom-rows .column.center .content-body:last-child {
    margin-right: auto;
  }
}

.sidebar-right-top-and-bottom-rows .column.right {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: 75%;
}
.sidebar-right-top-and-bottom-rows .column.right:before, .sidebar-right-top-and-bottom-rows .column.right:after {
  content: '';
  display: table;
}
.sidebar-right-top-and-bottom-rows .column.right:after {
  clear: both;
}
.sidebar-right-top-and-bottom-rows .column.right:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .sidebar-right-top-and-bottom-rows .column.right {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: 66.66667%;
  }
  .sidebar-right-top-and-bottom-rows .column.right:before, .sidebar-right-top-and-bottom-rows .column.right:after {
    content: '';
    display: table;
  }
  .sidebar-right-top-and-bottom-rows .column.right:after {
    clear: both;
  }
  .sidebar-right-top-and-bottom-rows .column.right:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .sidebar-right-top-and-bottom-rows .column.right {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-right-top-and-bottom-rows .column.right:first-child {
    margin-left: auto;
  }
  .sidebar-right-top-and-bottom-rows .column.right:last-child {
    margin-right: auto;
  }
  .sidebar-right-top-and-bottom-rows .column.right .col-inside {
    margin: 0;
  }
}
.sidebar-right-top-and-bottom-rows .column.center {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 75%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: -25%;
}
.sidebar-right-top-and-bottom-rows .column.center:before, .sidebar-right-top-and-bottom-rows .column.center:after {
  content: '';
  display: table;
}
.sidebar-right-top-and-bottom-rows .column.center:after {
  clear: both;
}
.sidebar-right-top-and-bottom-rows .column.center:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .sidebar-right-top-and-bottom-rows .column.center {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
    position: relative;
    left: -33.33333%;
  }
  .sidebar-right-top-and-bottom-rows .column.center:before, .sidebar-right-top-and-bottom-rows .column.center:after {
    content: '';
    display: table;
  }
  .sidebar-right-top-and-bottom-rows .column.center:after {
    clear: both;
  }
  .sidebar-right-top-and-bottom-rows .column.center:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .sidebar-right-top-and-bottom-rows .column.center {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-right-top-and-bottom-rows .column.center:first-child {
    margin-left: auto;
  }
  .sidebar-right-top-and-bottom-rows .column.center:last-child {
    margin-right: auto;
  }
}
.sidebar-right-top-and-bottom-rows .column.center .content-body {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 20px;
}
.sidebar-right-top-and-bottom-rows .column.center .content-body:before, .sidebar-right-top-and-bottom-rows .column.center .content-body:after {
  content: '';
  display: table;
}
.sidebar-right-top-and-bottom-rows .column.center .content-body:after {
  clear: both;
}
.sidebar-right-top-and-bottom-rows .column.center .content-body:last-child {
  margin-right: 0%;
}
@media (max-width: 400px) {
  .sidebar-right-top-and-bottom-rows .column.center .content-body {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-right-top-and-bottom-rows .column.center .content-body:first-child {
    margin-left: auto;
  }
  .sidebar-right-top-and-bottom-rows .column.center .content-body:last-child {
    margin-right: auto;
  }
}

.sidebar-right-cleared-top-and-bottom-rows .column.right {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.sidebar-right-cleared-top-and-bottom-rows .column.right:before, .sidebar-right-cleared-top-and-bottom-rows .column.right:after {
  content: '';
  display: table;
}
.sidebar-right-cleared-top-and-bottom-rows .column.right:after {
  clear: both;
}
.sidebar-right-cleared-top-and-bottom-rows .column.right:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .sidebar-right-cleared-top-and-bottom-rows .column.right {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.right:before, .sidebar-right-cleared-top-and-bottom-rows .column.right:after {
    content: '';
    display: table;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.right:after {
    clear: both;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.right:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .sidebar-right-cleared-top-and-bottom-rows .column.right {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.right:first-child {
    margin-left: auto;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.right:last-child {
    margin-right: auto;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.right .col-inside {
    margin: 0;
  }
}
.sidebar-right-cleared-top-and-bottom-rows .column.center {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 75%;
  margin-left: 0%;
  margin-right: 0%;
}
.sidebar-right-cleared-top-and-bottom-rows .column.center:before, .sidebar-right-cleared-top-and-bottom-rows .column.center:after {
  content: '';
  display: table;
}
.sidebar-right-cleared-top-and-bottom-rows .column.center:after {
  clear: both;
}
.sidebar-right-cleared-top-and-bottom-rows .column.center:last-child {
  margin-right: 0%;
}
@media (max-width: 1000px) {
  .sidebar-right-cleared-top-and-bottom-rows .column.center {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.center:before, .sidebar-right-cleared-top-and-bottom-rows .column.center:after {
    content: '';
    display: table;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.center:after {
    clear: both;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.center:last-child {
    margin-right: 0%;
  }
}
@media (max-width: 800px) {
  .sidebar-right-cleared-top-and-bottom-rows .column.center {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.center:first-child {
    margin-left: auto;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.center:last-child {
    margin-right: auto;
  }
}
.sidebar-right-cleared-top-and-bottom-rows .column.center .content-body {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 20px;
}
.sidebar-right-cleared-top-and-bottom-rows .column.center .content-body:before, .sidebar-right-cleared-top-and-bottom-rows .column.center .content-body:after {
  content: '';
  display: table;
}
.sidebar-right-cleared-top-and-bottom-rows .column.center .content-body:after {
  clear: both;
}
.sidebar-right-cleared-top-and-bottom-rows .column.center .content-body:last-child {
  margin-right: 0%;
}
@media (max-width: 400px) {
  .sidebar-right-cleared-top-and-bottom-rows .column.center .content-body {
    position: static;
    left: 0;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.center .content-body:first-child {
    margin-left: auto;
  }
  .sidebar-right-cleared-top-and-bottom-rows .column.center .content-body:last-child {
    margin-right: auto;
  }
}

.two-columns-top-and-bottom-rows .column.left {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.two-columns-top-and-bottom-rows .column.left:before, .two-columns-top-and-bottom-rows .column.left:after {
  content: '';
  display: table;
}
.two-columns-top-and-bottom-rows .column.left:after {
  clear: both;
}
.two-columns-top-and-bottom-rows .column.left:last-child {
  margin-right: 0%;
}
.two-columns-top-and-bottom-rows .column.right {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.two-columns-top-and-bottom-rows .column.right:before, .two-columns-top-and-bottom-rows .column.right:after {
  content: '';
  display: table;
}
.two-columns-top-and-bottom-rows .column.right:after {
  clear: both;
}
.two-columns-top-and-bottom-rows .column.right:last-child {
  margin-right: 0%;
}
@media (max-width: 650px) {
  .two-columns-top-and-bottom-rows .column.left, .two-columns-top-and-bottom-rows .column.right {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .two-columns-top-and-bottom-rows .column.left:first-child, .two-columns-top-and-bottom-rows .column.right:first-child {
    margin-left: auto;
  }
  .two-columns-top-and-bottom-rows .column.left:last-child, .two-columns-top-and-bottom-rows .column.right:last-child {
    margin-right: auto;
  }
  .two-columns-top-and-bottom-rows .column.left .col-inside, .two-columns-top-and-bottom-rows .column.right .col-inside {
    margin: 0;
  }
}

@media (max-width: 800px) {
  .fc-button-content {
    font-size: 75%;
  }
}
@media (max-width: 400px) {
  .fc-button-content {
    font-size: 45%;
  }
}

@media (max-width: 800px) {
  .fc-header-title h2 {
    font-size: 85%;
  }
}
@media (max-width: 400px) {
  .fc-header-title h2 {
    font-size: 75%;
  }
}

.fc-view {
  height: 100%;
  width: auto;
}

@media (max-width: 800px) {
  .fc-event-inner {
    font-size: 85%;
    line-height: 100%;
  }
}
@media (max-width: 400px) {
  .fc-event-inner {
    font-size: 50%;
    line-height: 150%;
  }
}
