/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
a.meanmenu-reveal {
  display: none;
}

.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: #CCC;
  padding: 0;
  min-height: 50px;
  z-index: 999999;
  border-bottom: 1px solid #BBBBBB;
}
.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 15px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  outline: none;
}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 3px;
  margin-top: 3px;
}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: white;
  margin-top: 50px;
}
.mean-container .mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.mean-container .mean-nav ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}
.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #555555;
  border-bottom: 1px solid #cfcfcf;
  border-bottom: 1px solid rgba(207, 207, 207, 0.4);
  text-decoration: none;
  text-transform: capitalize;
}
.mean-container .mean-nav ul li:hover {
  background: #252525;
  background: rgba(255, 255, 255, 0.1);
}
.mean-container .mean-nav ul li .mean-expand {
  width: 26px;
  height: 26px;
  border: none !important;
  padding: 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  outline: none;
  font-size: 22px !important;
}
.mean-container .mean-nav ul li .mean-expand:hover {
  background: none;
}
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}
.mean-container .mean-nav ul li ul {
  overflow: hidden;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
}
.mean-container .mean-nav ul li ul li:last-child a {
  border-bottom: 0;
}
.mean-container .mean-nav ul li ul li a {
  width: 80%;
  padding: 1em 10%;
  border-bottom: 1px dotted #cfcfcf;
  text-shadow: none !important;
  visibility: visible;
  font-size: 80%;
}
.mean-container .mean-nav ul li ul li li a {
  width: 70%;
  padding: 1em 15%;
}
.mean-container .mean-nav ul li ul li li li a {
  width: 60%;
  padding: 1em 20%;
}
.mean-container .mean-nav ul li ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}
.mean-container .mean-nav ul li ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}
.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}
